* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", "sans-seriff";
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* background-color: aqua; */
    padding: 0 80px;
    border-bottom: 1px solid rgb(156, 156, 156);
    backdrop-filter: blur(5px);
    z-index: 5;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    max-height: 50px;
  }
  nav .nav-logo {
    font-size: 24px;
    font-family: "Titan One", sans-serif;
  }
  nav .nav-logo span {
    color: rgb(38, 157, 241);
  }
  nav .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .bi-three-dots-vertical {
    display: none;
  }
  
  nav .nav-links a {
    text-decoration: none;
    color: grey;
    transition: 0.3s all;
  }
  
  nav .nav-links a:hover {
    color: rgb(38, 157, 241);
  }
  
  nav .get-started {
    background: rgb(72, 179, 255);
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
  }
  
  #responsive-list {
    background-color: rgba(0, 0, 0, 0.366);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    display: none;
  }
  #responsive-list:target {
    display: block;
  }
  
  .resp-nav-list {
    position: fixed;
    top: 50px;
    right: 10px;
    list-style: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
    padding: 10px;
  }
  #close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .resp-nav-list a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    transition: all 0.3s;
  }
  .resp-nav-list a:hover {
    color: rgb(0, 183, 255);
  }



  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 80px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.147);
    z-index: 0;
  }

  main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(../images/airplane.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.4;
  }

  .flightTrip-container{
    /* background-color: rgb(55, 61, 66); */
    display: flex;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid grey; */
    border-radius: 10px;
    gap: 20px;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 20px;
    position: relative;
    flex-wrap: wrap;
  }

  .flightTrip-container div{
    min-width: 100px;
    flex: 1;
  }
  .flightTrip-container label{
    /* display: block; */
    margin-bottom: 5px;
  }
  .flightTrip-container input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(240, 240, 240);
  }

  .explore-btn{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 40px;
    width: 100px;
    background-color: rgb(0, 170, 255);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: aliceblue;
  }

  
  .suggested-trips-nearby{
    width: 100%;
    margin-top:50px;
    display: flex;
    gap: 10px;
}

.suggested-trips{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.suggested-state{
      /* background-color: aqua; */
        border-radius: 10px;
        display: flex;
        height: 120px;
        gap: 10px;
        overflow: hidden;
        background: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        /* backdrop-filter: blur(5px); */
        position: relative;

  }
.suggested-state img{
    height: 100%;
    width: 120px;
    object-fit: cover;
    object-position: center;
}
.suggested-state-details{
  padding: 10px 0;
}

.trip-price{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.map-img{
    /* background-color: aquamarine; */
    height: 380PX;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}



@media screen and (max-width: 850px) {
  header {
    padding: 0 20px;
  }
  main{
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 20px;
  }
  .bi-three-dots-vertical{
    display: block;
  }
  nav .nav-links {
    display: none;
  }
  .flightTrip-container{
    height: auto;
  }
  .flightTrip-container div{
    min-width: 40%;
  }
  .map-img{
    display: none;
  }
  .suggested-trips{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0 10px;
  }
  main{
    padding: 0 10px;
  }
}
